@import 'variables.scss';

.NowSection {
  margin: 0px 46px;
  padding: 16px 0px;
  border-bottom: 1px solid $light-grey;
  display: flex;
  flex-direction: column;

  #now-section-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    #now-section-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
    }

    .now-section-header-icon {
      transform: rotate(0deg);
      transition: transform 400ms linear;

      &.opened {
        transform: rotate(180deg);
      }
    }
  }

  .now-section-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms ease-out 0s, padding-bottom 400ms ease-out 0s;

    &.displayed {
      max-height: 2400px;
      @media screen and (min-width: 375px) {
        max-height: 1700px;
      }
      @media screen and (min-width: 410px) {
        max-height: 1400px;
      }
      @media screen and (min-width: 768px) {
        max-height: 850px;
      }
      @media screen and (min-width: 992px) {
        max-height: 1050px;
      }
      @media screen and (min-width: 1200px) {
        max-height: 950px;
      }
      @media screen and (min-width: 1200px) {
        max-height: 950px;
      }
      @media screen and (min-width: 1300px) {
        max-height: 800px;
      }
      padding-bottom: 16px;
    }

    #now-section-content-subtitle {
      margin-top: 8px;
      font-size: 18px;
      color: $dark-grey;
      font-weight: 300;
      line-height: 24px;
    }
  }
}
